<html>
    <body>
        <p>Hi {{owner}}!</p>
        <p>I made a sweet little lofi track with lyrics. The song talks about lost friendships throughout the years. 
        Writing and producing it kinda helped me find peace. The track is pretty meaningful to me. 
        I was thinking it could be a nice fit in 
        {{#name}}
            your <i>{{name}}</i> playlist. 
        {{/name}}
        {{^name}}
            one of your lofi playlists. 
        {{/name}}
        Let me know what you think!</p>
        <p><a href="https://open.spotify.com/track/6o3egSS1DEob4VW6SBH18X?si=e9c36fc2aa4a4fd9">P-Side - Call Me Another Day</a></p>
        <p>Have an awesome day!</p>
        <p><span style="color: #808080;">--</span></p>
        <p><span style="color: #808080;">Paul Brière (P-Side)</span><br />
        <a href="https://pside.contactin.bio/">p-side.com</a></p>
    </body>  
</html>