<html>
    <body>
        <p>Hi {{owner}}!</p>
        <p>I made a pretty punchy dark rap song. The song makes allusions to our society that is ill informed and doesn't fact check. 
        I had a lot of making it, I shure blew off som steam. 
        I was thinking it could be a nice fit in 
        {{#name}}
            your <i>{{name}}</i> playlist. 
        {{/name}}
        {{^name}}
            one of your hip hop playlists. 
        {{/name}}
        Let me know what you think!</p>
        <p><a href="https://open.spotify.com/track/0Gar7uNirAZ7GDPjMCXhHR?si=6455296969004aac">P-Side - Silly</a></p>
        <p>Have an awesome day!</p>
        <p><span style="color: #808080;">--</span></p>
        <p><span style="color: #808080;">Paul Briere (P-Side)</span><br />
        <a href="https://pside.contactin.bio/">p-side.com</a></p>
    </body>  
</html>